.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px; /* Replace with the actual value of $screen-padding */
  background-color: rgba(240, 240, 240, 0.5);
  z-index: 1000;
  animation: fadeon 0.3s ease 0s;
}
