.businessCard {
  position: relative;
  width: 100%;
  min-width: 50px;
  height: 100%;
  min-height: 25px;
  background: #f6f6f6;
  /* outline: solid 2px #50514e; */
  overflow: hidden;
  color: #454555;
  border-radius: 1px;
}

.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: -50%;
  opacity: 0.2;
}

.information {
  width: 100%;
  height: 100%;
  display: flex;
}

.radarChart {
  width: 50%;
  height: 95%;
  margin: 10px;
}

.userInfo {
  margin: 5px;
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user {
  font-family: "明朝体";
  padding-top: 50px;
  font-size:33px;
  font-weight: bold;
  line-height: 40px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  height: 35px;
  white-space: nowrap;
  overflow: hidden;
}

.tag {
  height: 20px;
}

.tag p {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
}

.qualificationList {
  font-size: 15px;
  margin-top: 10px;
}

.qualificationList p {
  width: 40%;
  margin-bottom: 0.2rem;
  background-image: linear-gradient(90deg, #b2decb 0 20%, #dedede 20%);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: bottom;
  color: #323232;
  font-weight: bold;
  font-size: 20px;
}

.qualification {
  width: 40%;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #898989;
  font-weight: bold;
  font-size: 15px;
}


.note {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.note h1 {
  font-size: 50px;
  margin: 30px;
}

.description {
  margin: 10px;
  margin-bottom: 100px;
  width: 90%;
  height: 95%;
  min-height: 1550px;
  font-size: 20px;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #f9f9f9 50%, #f9f9f9 100%), 
                    linear-gradient(180deg, #898989 1px, transparent 1px);
  background-size: 20px 100%,
                    100% 2.5em;
  line-height: 2.5em; 
  padding-bottom: 1px;
}