.contents h1{
  text-align: center;
  font-size: 60px;
  color: #232323;
}

.searchBar {
  margin: 30px;
  display: flex;
  align-items: center;
  background-color: #e2e3e1;
  height: 70px;
  border-radius: 25px;
}

.searchBar input {
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 90%;
  height: 50%;
  border-radius: 25px;
  border: none;
  font-size: 20px;
}

.businessCardList {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.businessCard {
  width: 95%;
  margin: 30px;
  transition: all 0.2s ease-out;
  aspect-ratio: 5 / 3;
  box-shadow: 2px 5px 5px #a4a4a4;
}

.businessCard a {
  text-decoration: none;
}

.businessCard:hover {
  box-shadow: 10px 15px 10px 1px #e7e7e7;
  transform: translateY(-8px);
}