.backGround {
    z-index: -3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c4fbfc, #1b88ff);
    overflow-x : hidden;
}

.rectangle {
    z-index: -2;
    position: absolute;
    top: 800px;
    width: 100%;
    height: 100%;
    content: "";
    background: #1f73d6;
}

.circle {
    z-index: -1;
    position: absolute;
    display: flex;
    left: -50%;
    top: 600px;
    width: 200%;
    height: 100%;
    content: "";
    background: #1f73d6;
    border-radius: 50%;
    box-shadow: 0px -100px 200px #1b88ff;
}

.box {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    padding-top: 250px;
    color: #fff;
}

.title h3 {
    font-size: 25px;
    text-align: center;
    color: #fff;
}