.header {
  z-index: 1000;
  width: 95%;
  height: 70px;
  margin: 1% auto 1% auto;
  position: sticky;
  background-color: #ececec;
  opacity: 0.9;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  display: flex;
}

.title {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.title a{
  font-size: 170%;
  font-weight: bold;
  text-decoration: none;
}

.title a:hover{
  opacity: 0.8;
}

.icon {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  transition: all 0.15s ease-out;
}

.main {
  margin-left: 2%;
  margin-right: 2%;
}

.userIcon {
  width: 55px;
  height: 55px;
  transition: all 0.1s ease-out;
}

.userIcon:hover{
  transform: scale(1.1);
  opacity: 0.6;
}

.loginBoxItem {
  position: absolute;
  text-align: right;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: -175px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

.loginItem {
  display: flex;
  flex-direction: column;
}

.loginItem a, .loginItem p{
  position: relative;
  left: 5px;
  width: 220px;
  padding: 10px;
  background-color: #ececec;
  text-decoration: none;
}

.loginItem a:hover, .loginItem p:hover{
  background-color: #dfdfdf;
  font-size: 21px;
}

.loginIcon {
  transition: all 0.15s ease-out;
}

.loginIcon a{
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.loginIcon:hover{
  opacity: 0.5;
}

.color1 {
  background-color: #15b8be;
}

.color2 {
  background-color: #6bd86b;
}

.color3 {
  background-color: #e34c22;
}

.color4 {
  background-color: #df79c0;
}
